%hr
	%footer
		.container
			.row
				.col-md-4
					Copyright
					@
					= Time.now.year
					CoursePlatform Sp. z o.o.
					.row
					.fa.fa-envelope
					= mail_to "ryanam26@yahoo.com"
					.row
				.col-md-4
					Privacy Policy
					.row
					Terms and Conditions
				.col-md-4
					About
					.row
					= link_to "Teach on Teachrr", new_course_path
%br
				